html{
    font-size: 62.5%;
}

body{
    font-family: 'FiraSans';
    /* background-color: #423b88; */
    color: #13112b;
    font-size: 1.4rem;

    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */

    position: relative;
    max-width: 192.0rem;
    margin: 0 auto;
}

*{
    box-sizing: border-box;
    border: 0.1rem solid #a2a1bf;
}

figure{
    padding: 0;
    margin: 0;
}

button{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;

    margin: 0 auto;

    min-width: 18.0rem;
    border-radius: 3.5rem;
    background-color: #f16192;
    padding: 1.8rem 4.4rem;

    color: white;
    
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.06rem;
}


input{
    outline: none;
}

a{
    text-decoration: none;
    color: black;
}

h2{
    margin: 0;

    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color:#666666;
}

p{
    margin: 0;

    letter-spacing: -0.09rem;
    font-weight: 300;
    font-size: 3.6rem;
    color: #666666;
}

.container{
    max-width: 118.0rem;
    margin: 0 auto;
    position: relative;
}

.row{
    display: flex;
    /* flex-wrap: wrap; */
}

.column-direct{
    flex-direction: column;
}

.overlay{
    background-color: #423b88;
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    opacity: 0.9;
}




#slider{
    position: relative;

    background-image: url(../images/slider_background.jpg);    
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

    padding-top: 30rem;
    padding-bottom: 9.4rem;

    text-align: center;

    color: white;
}

/*--------------------------
    HEADER
---------------------------*/

header{
    max-width: 118.0rem;
    margin: 0 auto;

    display: flex;
}

header .logo{
    margin-right: auto;
}

header .menu{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 2.4rem;
}    

/*--------------------------
    HERO
---------------------------*/

#hero .row{
    width: 50%;
}

/*--------------------------
    ABOUT
---------------------------*/

#about .row{
    margin-left: 50%;
}

/*--------------------------
    GALLERY
---------------------------*/

#gallery .images{
    display: flex;
}

#gallery .images figure{
    width: 25%;
    overflow: hidden;
    height: 51.6rem;
}

#gallery .images figure img{
    height: 125%;
}    

#gallery .column-2 figure{
    overflow: hidden;
    width: 67%;
}

#gallery .column-2 figure img{
    height: 120%;
}    

#gallery .column-2 {
    width: 50%;
}

/*--------------------------
    MUSIC
---------------------------*/

#music .container .row{
    width: 33.33%;
    margin-left: 16.66%;
}

#music .column-2{
    width: 50%;
}

/*--------------------------
    FOOTER
---------------------------*/